*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

nav{
    padding-left: 1%;
}

.lista{
    margin-top: 5%;
    width: 100%;
    height: auto;
    color: black;
    display: block;
    margin-bottom: 10%;
}

.nombre{
    text-align: center;
}

h3{
    color: aliceblue;
    text-align: center;
}

h4{
    background-color: brown;
    height: 10vh;
    line-height: 10vh;
    color: white;
}