ul{
    display: flex;
    text-align: end;
    align-content: space-around;
    justify-content: end;
    list-style: none;
}

li{
    margin: 3vh;
    color: white;
}

h2{
    text-align: start;
    float: left;
    line-height: 10vh;
    color: white;
}

nav{
    background-color: brown;
    margin-bottom: 2%;
}
